.sectionProd{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 160px;
    border-radius: 10px;
    background-color: var(--nd-bakground);
    box-shadow: inset 0 0 5px;
    color: var(--color-nd);
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    transition: 1s;
}
.arrow{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}
.arrow span{
    width: 10px;
    font-size: 34pt;
    cursor: pointer;
    transition: .3s;
    color: var(--color-nd);
    text-shadow: 1px 1px 2px black;
}
.arrowLeft{
    transform: rotate(180deg);
}
.arrow span:hover{
    color: darkred;
}
.containt{
    width: calc(100% - 120px);
    display: flex;
    position: relative;

    padding: 0;
}
.cont{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.fade{
    width: 30px;
    height: 150px;
    margin-top: 5px;
    z-index: 10;
    margin-left: -1px;
    position: absolute;
    background: linear-gradient(to right , var(--nd-bakground), var(--nd-bakground) , transparent);
}
.fadeRight{
    right: -1px;
    background: linear-gradient(to left ,  var(--nd-bakground), var(--nd-bakground) , transparent);
}



